table {
    width: 100vw;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2vh;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.alert.success {
    color: #3c763d;
    border: 1px solid #3c763d;
    background-color: #dff0d8;
}

.alert.error {
    color: red;
    border: 1px solid red;
    background-color: #ffdede;
}

.alert.info {
    color: rgb(77, 103, 190);
    border: 1px solid rgb(77, 103, 190);
    background-color: #d0e1f5;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 95vh;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-head {
    float: inline;
    margin-right: 1vw;
}

.login-box {
    float: inline;
}

.head-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 10vh;
    border: 0.25vh solid black;
}

.machine-table {
    border: 0.25vh solid black;
    margin: 0.5vh;
}

.task-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-input-head {
    float: inline;
    margin-right: 2vw;
}

.task-input {
    float: inline;
}

.admin-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    border: 0.25vh solid black;
    min-width: 50vw;
    min-height: 82.5vh;
}

.machine-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.machine-input-head {
    float: inline;
    margin-right: 2vw;
}

.machine-input {
    float: inline;
}

.account-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-info-label {
    float: inline;
    margin-right: 2vw;
}

.account-info {
    float: inline;
}

#admin-button {
    margin-inline: 1vw;
    font-weight: bold;
}

#sign-out-button {
    margin-inline: 1vw;
    font-weight: bold;
    color: red;
}

#head-bar-header {
    float: inline;
    margin-right: 1vw;
}

#active-machines {
    color: green;
}

#inactive-machines {
    color: red;
}

#task-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

#admin-sections {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#chng-pswd {
    margin-bottom: 5vh;
}

#del-acct {
    background-color: red;
    color: white;
    font-weight: bold;
}