<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="page-container">
        <div class="head-bar">
            <h1 id="head-bar-header">Available Machines</h1>
            <div class="head-bar-buttons">
                <button type="submit" id="admin-button">Admin</button>
                <button type="submit" id="sign-out-button">Sign Out</button>
            </div>
        </div>
        <div class="machine-table">
            <h2 id="active-machines">Active Machines</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>IP</th>
                    <th>OS</th>
                    <th>Version</th>
                    <th>Check In</th>
                    <th>Tasks</th>
                </tr>
                <tr>
                    <td>FILLER</td>
                    <td>FILLER</td>
                    <td>FILLER</td>
                    <td>FILLER</td>
                    <td>FILLER</td>
                    <td>FILLER</td>
                </tr>
            </table>
        </div>
        <div>
            <h3>Your JWT Token:</h3>
                <div class="token-box">
                    {{ token }}
                </div>
            <p>Use this token in the header of your API requests as "x-access-token" to access protected routes.</p>
        </div>
        <div class="machine-table">
            <h2 id="inactive-machines">Inactive Machines</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>IP</th>
                    <th>OS</th>
                    <th>Version</th>
                    <th>Check In</th>
                    <th>Tasks</th>
                </tr>
                <tr>
                    <td>FILLER</td>
                    <td>FILLER</td>
                    <td>FILLER</td>
                    <td>FILLER</td>
                    <td>FILLER</td>
                    <td>FILLER</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
