<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="page-container">
        <div class="head-bar">
            <h1 id="head-bar-header">Admin Dashboard</h1>
            <button type="submit" id="admin-button">Admin</button>
            <button type="submit" id="sign-out-button">Sign Out</button>
        </div>
    </div>
</body>
</html>