<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="page-container">
        <div class="login-wrapper">
            <h1>C2 Login</h1>
        </div>
        <div class="login-wrapper">
            <h2 class="login-head">Username</h2>
            <input type="text" placeholder="Enter your username" class="login-box" name="uname" required>
        </div>
        <div class="login-wrapper">
            <h2 class="login-head">Password</h2>
            <input type="text" placeholder="Enter your password" class="login-box" name="pswd" required>
        </div>
        <div class="login-wrapper">
            <button type="submit">Sign In</button>
        </div>
    </div>
</body>
</html>